<!-- About Section -->
<section id="about" class="text-secondary">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center text-uppercase mb-0">About Me</h2>
        <hr class="star-dark mb-5">
      </div>
    </div>
    <div class="row lead">
      <div class="col-sm">
        <p>
          Sou apaixonada por segurança da informação, health-tech e inovações tecnológicas.
        </p>
        <p>
          Possuo um perfil bastante interdisciplinar, pois acredito que a criatividade e a inovação venham da junção de várias áreas diferentes. Amo utilizar a criatividade para o desenvolvimento de scripts que possam automatizar processos dos testes de invasão em Bash e Python, como também, mexo em microcontroladores nas horas vagas. 

        </p>
       
      </div>
      <div class="col-sm">
        <h3>Highlights</h3>
        <ul>
          <li>
            Engenheira de Computação formada pela UVA
          </li>
          <li>
            Pentester
          </li>
          <li>
            Pesquisadora de Cybersegurança 
          </li>
          <li>
            Mestre em Engenharia Biomédica pela UFRJ-COPPE
          </li>
          <li>
            Atualmente também sou entusiasta na área de DevSecOps & Application Security. 
          </li>
            
          <li>
            Além disso, também ministro Aula de Programação de Python no HowTo Online.
            <a target="_blank" href="https://howtoonline.com.br/?page_id=3534">
              Aqui
            </a>
            
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</section>
