<section id="interests" class="bg-primary text-white mb-0"">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-center text-uppercase text-white">Interests</h2>
        <hr class="star-light mb-5">
      </div>
    </div>
    <div class="row lead">
      <div class="col-sm">
        <h3>
          Meus interesses incluem:
        </h3>
        <ul>
          <li>
            <!-- <span class="font-weight-bold">Interest one</span>. -->
            Hacking
          </li>
          <br>
          <li>
            WEB Pentest
          </li>
          <br>
          <li>
            Cybersecurity
          </li>
          <br>
          <li>
            Microcontroladores
          </li>
          <br>
          <li>
            Desenvolvimento de software com Python
          </li>
          <br>
          <p>
            Gosto de usar a programação para resolver problemas na cibersegurança
          </p>
        </ul>
      </div>
      <div class="col-sm">
        <h3>Projetos</h3>
        <ul>
          <li>
            <a target="_blank" href="https://drive.google.com/file/d/17Yf5QjS-THkn0_Kzpi6G4BjWtHJbh8-B/view">
              <span class="font-italic font-weight-bold">O desenvolvimento do sistema de monitoramento da frequência respiratória em bebês utilizando o ESP32</span>
            </a>
            The objective of this work was to develop a system for alerting and monitoring the respiratory rate of infants and newborns so that they can help parents avoid accidents such as asphyxia, asthma and other problems that can be identified by respiratory rate.
            Thus, the present work was able to use the ESP32 and the Piezoelectric sensor to observe the respiratory rate, as well as to integrate the WEB interface and an application, using the WiFi and Bluetooth connections.
          </li>
          <li>
            <a target="_blank" href="https://github.com/michelleamesquita/rubber-ducky-ino">
              <span class="font-italic font-weight-bold">Ruber ducky</span>
            </a>
            Desenvolvimento de Rubber ducky(keylogger) de baixo custo com arduino Leonardo
          </li>
          <li>
            <a target="_blank" href="https://github.com/michelleamesquita/covid-api">
              <span class="font-italic font-weight-bold">API para COVID</span>
            </a>
             Mapa com casos reais de COVID
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
